node_modules/
package-lock.json
dist/
build/
logs/
*.log
*.sqlite
*.db
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
.nyc_output/
.DS_Store
Thumbs.db
libs/foliate-js-main/
web/reader/
web/reader_docx/vendor/
web/reader_xlsx/vendor/
web/reader_pptx/vendor/
web/viewer/js-preview-lib/
web/quickshare/assets/vendor/
