<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.NasCabTv"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".FeatureHostActivity"
            android:exported="false"
            android:theme="@style/Theme.NasCabTv" />

        <activity
            android:name=".modules.video.detail.VideoDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.NasCabTv" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:banner="@drawable/tv_banner"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.NasCabTv">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.video_player.TvVideoPlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.NasCabTv" />

        <activity
            android:name=".modules.photo.timeline.PhotoPreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.NasCabTv" />

        <activity
            android:name=".modules.music.player.MusicNowPlayingActivity"
            android:exported="false"
            android:theme="@style/Theme.NasCabTv" />

        <service
            android:name=".modules.music.player.MusicPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>
